<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <title>Short URL</title>
</head>

<body>
  <div class="container">
    <h1 class="mx-auto m-3" style="width: 300px;">URL Shortener</h1>
    <img class="mx-auto m-2" style="width: 300px; display:block;"
      src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="">
  </div>
  <div class="mx-auto w-50 p-3">
    {{{body}}}
  </div>
</body>

</html>