<div class="">
  <div class="d-flex justify-content-between">
    <h3>Error! Please input a valid URL</h1>
      <a class="btn btn-outline-primary ms-1 pt-2" href="/" role="button">Home</a>
  </div>
</div>