<form action="/record" method="post" class="g-3">
  <div class="">
    <input type="text" class="form-control bg-light border-0" id="inputPassword2" name="url" placeholder="your URL here">
  </div>
  <div class="d-flex justify-content-center">
    <button type="submit" class="w-25 btn btn-outline-primary m-1">Shorten</button>
  </div>
</form>